
#btnC.btn{
    background-color: #600a9e;
    
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
}
#btnC.btn:hover{
   background-color:#850edbf7;
}

.textC{
    font-family: cursive;
    
   margin-top: 3rem;
   font-size: 30px;
}
.bodyC{
    margin-top: 2rem;
    margin-bottom: 10rem;
   
}
.CallTo{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(80, 78, 78, 0.5)), url('../images/belice.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment:scroll;
    object-fit:cover!important;
height: 800px

   ;
}
.titleC{
    color: dodgerblue;
font-size: 4rem;
margin-top: 5rem;
}
.textI{
    margin-top: 16rem;
    font-size: 30px;
    color: #600a9e;
    font-weight: bold;
}

@media  (max-width:425px){

    .textC{font-size: 18px;
    
}

.titleC{
    font-size: 3rem;
}
.textI{
    font-size: 18px; ;
}
}