 a.nav-link{
   color:darkgray !important;
 }
 a.nav-link:hover{
color:rgb(241, 239, 239)!important;
 }
 button.nav-link{
   color:darkgray !important;

 }
 button.nav-link:hover{
   color:rgb(241, 239, 239)!important;
    }
 /*redes*/
 svg.bi.bi-facebook,svg.bi.bi-whatsapp,svg.bi.bi-instagram{
   color:darkgray ;
 }
 svg.bi.bi-facebook:hover{
    color:rgb(0, 89, 255);
   
    }
 svg.bi.bi-whatsapp:hover{
     color:rgb(88, 169, 45);
    
     }
 svg.bi.bi-instagram:hover{
         color:rgb(255, 0, 170);}
         
         

 @media  (max-width:425px){

            .text-nowrap{
               font-size: 11px!important
            }
         }     
         