 
 /*redes*/
 svg.bi.bi-facebook:hover{
    color:rgb(0, 89, 255);
   
    }
 svg.bi.bi-whatsapp:hover{
     color:rgb(88, 169, 45);
    
     }
 svg.bi.bi-instagram:hover{
         color:rgb(255, 0, 170);}
         
         

 @media  (max-width:425px){

            .text-nowrap{
               font-size: 11px!important
            }
         }     
         