.navbar{
   
   background-image: url('../images/costa.jpg');
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment:scroll;
    object-fit:cover!important;
}

.btn{
  margin-left: 20px;
}

@media (max-width: 768px){ 
    .navL {
     display:none;
   } 
}


@media (min-width: 769px){ 
  .navS{
    display:none;}
    
  }